$shade_0: #302F1A;
$shade_1: #5C5A43;
$shade_2: #8C8971;
$shade_3: #BFBCA2;
$shade_4: #F4F1D6;
$primary: #ff4340;

.text-dark {
    color: $shade_0;
}

.text-lightdark {
    color: $shade_1;
}

.text-equilibrium {
    color: $shade_2;
}

.text-light {
    color: $shade_3;
}

.text-extralight {
    color: $shade_4;
}